
    <div class="start-game" >
        <h2>Rock Paper Scissor</h2>
        <div class="letsplay">
            <button class="playbtn" (click)="newGame()">Let's Play</button>
        </div>
        <div class="rockpaperscissorimg">
            <img src="../../assets/images/RockPaperScissor2.png" alt="" class="rockpaperscissor">

        </div>
    </div>

<!-- <div id="toastr" *ngIf= "showWinner">
    <div class="result">
        {{winner}}
    </div>
    <div class="newGameAgain" >
        <button class="newGameAgainbtn" (click)="newGame()">New Game</button>
    </div>
     <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  </div> -->
 